:root {
    --color-primary-50:  #fff8f0;
    --color-primary-100: #ffefd6;
    --color-primary-200: #ffd9a3;
    --color-primary-300: #ffbf6b;
    --color-primary-400: #ff9933;
    --color-primary-500: #e67d00;
    --color-primary-600: #cc6600;
    --color-primary-700: #994d00;
    --color-primary-800: #663300;
    --color-primary-900: #331a00;
}